


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-122814078-2');
</script>
    <meta charset="utf-8">
    <link rel="icon" class="js-site-favicon" type="image/svg+xml" href="https://svgsilh.com/svg/33581.svg">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
<script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Notebook</title>
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
    <style type="text/css">
        body {background-color: #94d3a2;}
        p {overflow-wrap: break-word; word-wrap: break-word;}
        .container {max-width: 640px !important;}
        .hello-form {margin-bottom: 20px;}
        header {margin: 50px 0 40px 0;}
        header h1 {font-size: 60px; font-weight: bold;}
        .sub-title {font-size: 24px;}
        @media screen and (max-width: 600px) {.sub-title {display: block;}}
        header a {text-decoration: none !important;}
        footer {margin: 20px;}
    </style>
</head>
<body>



<main class="container">
    <header>
        <h1 class="text-center display-4">
            <a href="{{ url_for('nb_index') }}" class="text-success"><strong>&#128212;</strong></a>

        </h1>
    </header>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
    {% block content %}{% endblock %}
    <footer class="text-center">
        {% block footer %}
            <small> &copy; 2023 <a href="" title="">DYtree</a> /
                <a href="" title="Fork me on GitHub"><i class="fab fa-github"></i></a> /

            </small>
            <p><i class="fa-solid fa-up-from-bracket"></i><a id="bottom" href="#" title="Go Top">&#128316;</a></p>
        {% endblock %}
    </footer>
</main>

<script type="text/javascript" src="../static/js/jquery-3.2.1.slim.min.js"></script>
<script type="text/javascript" src="../static/js/popper.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/script.js"></script>

<script src="/static/js/moment-with-locales.min.js"></script>
<script>
moment.locale("en");
function flask_moment_render(elem) {
    $(elem).text(eval('moment("' + $(elem).data('timestamp') + '").' + $(elem).data('format') + ';'));
    $(elem).removeClass('flask-moment').show();
}
function flask_moment_render_all() {
    $('.flask-moment').each(function() {
        flask_moment_render(this);
        if ($(this).data('refresh')) {
            (function(elem, interval) { setInterval(function() { flask_moment_render(elem) }, interval); })(this, $(this).data('refresh'));
        }
    })
}
$(document).ready(function() {
    flask_moment_render_all();
});
</script>
</body>
</html>