 <head>
    <meta charset="utf-8">
     <title>DYtree</title>
     <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">  
     <style type="text/css">
       #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
       /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
      https://unicode-table.com/en/1F5C1/
 
       folder css
         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
     </style>
   <link rel="stylesheet" type="text/css" href="https://cdn.muzzammil.xyz/OctoCSS/">
 
     <link rel="stylesheet" href="../static/build.css">
     <link rel="stylesheet" href="../static/index.css">

    <link rel="stylesheet" href="../static/theme_dark.css">

    <link rel="stylesheet" href="../static/monokai.css">
 <link crossorigin="anonymous" media="all" rel="stylesheet" href="../static/font-awesome.css" />    <link crossorigin="anonymous" media="all" rel="stylesheet" href="../static/style.css" />
 <style>
       .previous{
          float:left;
      }
     .next {
          float:right;
      }
  </style>
    <link crossorigin="anonymous" media="all" rel="stylesheet" href="../static/c1.css" />
  <link crossorigin="anonymous" media="all" rel="stylesheet" href="../static/c2.css" />
      <link crossorigin="anonymous" media="all" rel="stylesheet" href="../static/c3.css" />
     <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css" media="all" />
  <link rel="icon" class="js-site-favicon" type="image/svg+xml" href="https://svgsilh.com/svg/33581.svg">

   </head>




 <body>

